/*Main screen*/

.mainScreen{
    position: absolute; 
    width: 99%; 
}

.backgroundVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#question1{
    position: absolute;
    left: 10vw;
    top: 10vh;
}
#question2{
    position: absolute;
    left: 25vw;
    top: 25vh;
}
#question3{
    position: absolute;
    left: 55vw;
    top: 40vh;
}
#nextPage{
    position: absolute;
    left: 45vw;
    top: 85vh;    
}
#imgOptions{
    max-width: 90px;
}



/* CHOOSE YOUR CHARACTER PAGE */

#choose {
    
    text-align: center;
    
}

.characters {
    display: flex;
    justify-content: space-evenly;

}

.characterAvatar {
    display: flex;
    justify-content: left;

}

.characters button {
    background-color: rgba(250, 235, 215, 0.555);
    font-size: 1vw;
}
.characterAvatar button {
    background-color: #FE6900;
    font-size: 1vw; 
    border: none;

}

.hovereffectVM:hover{
    box-shadow: 1px 1px 50px 15px #FE6900;
}
.hovereffectES:hover{
    box-shadow: 1px 1px 50px 20px #c291a4;
}
.hovereffectDI:hover{
    box-shadow: 1px 1px 50px 15px #4895ef;
}
.hovereffectNM:hover{
    box-shadow: 1px 1px 50px 20px #0073A1;
}
.hovereffectSK:hover{
    box-shadow: 1px 1px 50px 20px #611e26;
}

/* EVA */
.eva{
    background-color: #c291a4;
}

/* VALENTINE */
.valent{
    background-color: #FE6900;
}

/* SZILARD */
.szilard{
    background-color: #611e26;
}

/* NIYA */
.niya{
    background-color: #0073A1;
}

/* DANIEL */
.daniel{
    background-color: #4895ef;
}

/* Main Content Box*/

.contentBox{
    height: 80vh;
    width: 80vw;
    background-color: #332e2f62;
}